@font-face {
  font-family: "Satoshi-Regular";
  src: url("./assets/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("./assets/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("./assets/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("./assets/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
  font-style: normal;
}


.font-satoshi-regular {
  font-family: "Satoshi-Regular", sans-serif;
}
.font-satoshi-medium {
  font-family: "Satoshi-Medium", sans-serif;
}

.font-satoshi-bold {
  font-family: "Satoshi-Bold", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Custom black scrollbar (used only where applied) */
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
    transition: background-color 0.4s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

* {
  box-sizing: border-box;
}

@import "tailwindcss";
