@font-face {
  font-family: "Integral CF";
  src: url("./assets/fonts/IntegralCF/Fontspring-DEMO-integralcf-bold.otf")
    format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Integral-Regular";
  src: url("./assets/fonts/IntegralCF/Fontspring-DEMO-integralcf-regular.otf")
    format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Regular";
  src: url("./assets/fonts/Satoshi/Satoshi-Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Medium";
  src: url("./assets/fonts/Satoshi/Satoshi-Medium.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("./assets/fonts/Satoshi/Satoshi-Bold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: "Satoshi-Black";
  src: url("./assets/fonts/Satoshi/Satoshi-Black.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Canela-Regular";
  src: url("./assets/fonts/canelaregular.otf") format("opentype");
  font-style: normal;
}
@font-face {
  font-family: "Forum-Regular";
  src: url("./assets/fonts/Forum/Forum-Regular.ttf") format("truetype");
}

.font-integral {
  font-family: "Integral CF", sans-serif;
}
.font-integral-regular {
  font-family: "Integral-Regular", sans-serif;
}

.font-satoshi-regular {
  font-family: "Satoshi-Regular", sans-serif;
}
.font-satoshi-medium {
  font-family: "Satoshi-Medium", sans-serif;
}

.font-satoshi-bold {
  font-family: "Satoshi-Bold", sans-serif;
}
.font-satoshi-black {
  font-family: "Satoshi-Black", sans-serif;
}
.font-forum-regular {
  font-family: "Forum-Regular", sans-serif;
}
.font-canela-regular {
  font-family: "Canela-Regular", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

html::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Custom black scrollbar (used only where applied) */
.custom-scrollbar::-webkit-scrollbar {
  display: block;
  width: 6px;
    transition: background-color 0.4s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #333;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: black transparent;
}

* {
  box-sizing: border-box;
}

@import "tailwindcss";
